@media (min-width: 768px) {
  .mapContainer {
    width: 100%;
    height: calc(100vh - 50px);
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .mapContainer {
    overflow: visible !important;
  }

  .close {
    top: -40px;
    right: 0;
    opacity: 1;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #343C8E;
    font-size: 14px;
  }
  .footer .right {
    margin-top: 5px;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    min-width: 560px;
  }
}
